*
!.gitignore
!index.html
!about.html
!links.html
!7segments.html
!darkness.html
!museum.html
!webring.html
!img
!img/*
!img/banners
!img/banners/*
!img/baseline
!img/baseline/*
!img/museum
!img/museum/*
!img/museum/*/*
!css
!css/*
!js
!js/*
!build
!build/*
!build/posts
!build/posts/*
